td {
    /*solid означает отображение одиночной, прямой, сплошной линии.*/
    border: 3px solid black;
    /*padding устанавливает область отступа сразу со всех четырех сторон элемента*/
    padding: 10px;
    /*border-collapse определяет, имеют ли ячейки внутри <table> общие или отдельные границы*/
    border-collapse: separate;
    /*margin задает область полей  со всех четырех сторон элемента*/
    margin: 10px;
    /*width устанавливает ширину элемента. По умолчанию он устанавливает ширину области содержимого*/
    width: 100px;
    /*height определяет высоту элемента. По умолчанию свойство определяет высоту области содержимого*/
    height: 100px;
    font-size: 50px;
    text-align: center;
    /*empty-cells определяет, будут ли отображаться границы и фон вокруг ячеек <table> ,
    которые не имеют видимого содержимого.*/
    empty-cells: show;
    background-color: #efe9d1;
}